name: flappy_bart
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  flame: ^1.30.1
  flutter_fullscreen: ^1.2.0
  csv: ^6.0.0
  shared_preferences: ^2.5.3
  flame_audio: ^2.11.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/audio/
    - assets/data/flappy_bart_nouns.csv
